<%= form_with model: @article, local: true do |form| %>
<<<<<<< HEAD

=======
  
>>>>>>> 8e02132f68a9b3b50dd8e85a4c2f34d50c1fa11c
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

   <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>  

  <p>
    <%= form.submit %>
  </p>
=======
  <div class="entry">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  </div>

>>>>>>> 8e02132f68a9b3b50dd8e85a4c2f34d50c1fa11c
<% end %>